/*base css*/
.float-right
{
	float: right;
}
.float-left
{
	float: left;
}
.clear
{
	clear: both;
}

/*base css*/

/*header css*/
.header
{
	max-width: 1170px;
	width: 100%;
    margin: 0 auto;
}
.logo
{
	float: left;
	width: 4%;
	display: inline-block;
    border: 2px solid cornflowerblue;
    margin: 30px auto 10px 30px;
    vertical-align: middle;
}
.navigation
{
	float: left;
    display: inline-block;
    vertical-align: middle;
    margin: 30px 50px;
}
.nav-li
{
	display: inline-block;
	margin-left: 40px;
}
.nav-li:hover
{
	color: blue;

}
.nav-a:hover
{
	font-size: 50px;
}

.nav-a
{
	font-size: 165%;
	font-family: 'title';
	transition: all 0.5s;
	line-height: 30px;
	color: dodgerblue;
}
.nav-li:after
{
	content: " ";
	display: inline-block;
	margin-left: 40px;
	width: 2px;
	height: 30px;
	background-color: rgb(2,345,43);
}
.nav-li.none:after
{
	display: none;
}
/*socialuri*/
.soc-img
{
	height: 40px;
	cursor: pointer;
	transition: all 0.5s;
}
.soc-img:hover
{
	height: 50px;
}
.social-tegs
{
	float: right;
	margin: 35px auto;
}
.soc-li
{
	display: inline-block;
}
.soc-li:after
{
	content: "";
	display: inline-block;
	width: 1px;
	height: 40px;
	background-color: blue;
	margin-right: 15px;
	margin-left: 15px;
}
.soc-li:last-child:after
{
	display: none;
}
/*socialuri*/
/*header css*/

/*img*/
.img-cont
{
	width: 100%;
	display: block;
    background-color: lightgrey;
    text-align: center;
}
.img
{
    height: 476px;
	padding: 4%;
	cursor: pointer;
}
/*img*/

/*blue section*/
.blue-section
{
	background-color: #54d41f;
	display: block;
}
.parent
{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.parent-text
{
	font-size: 40px;
	font-family: 'title';
}
.parent .cont
{
	height: 320px;
	width: 49%;
	background-color: white;
	margin-bottom: 32px;
}
/*blue section*/