html,body
{
	width: 100%;
	height: 100%;
	background-color: #ff1744;
}
.body
{
      	height: 100%;
      	margin: 1.6%;
        background-color: #64dd17;
        padding: 12%;

}
.logo
{
	width: 7%;
	border: 2px solid black;
	vertical-align: middle;
	float: right;
}
.navigation
{
	float: right;
    display: inline-block;
    vertical-align: middle; 
}
.nav-li
{
	display: inline-block;
}
.text
{
	font-size: 150%;
	font-family: "mgcfont";
	margin-right: 100px; 
	color: white;
}
.cont1
{
	width: 49%;
	height: 49%;
	float: left;
	vertical-align: middle;
	margin-top: 10%;

}
.cont2
{
	width: 49%;
	float: right;
	vertical-align: middle;
	margin-top: 3.5%;
    height: 49%;
}
.img1
{
	width: 20%;
	float: right;
}
.img2 
{
	margin: 20px;
	width: 20%;
	float: left;
}
.color
{
	background-color: yellow;

}
.clear
{
	clear: both;
}
.cont1,.cont2 p
{
	text-indent: 30px;
}